# gitignore files

# Editor
/.idea

# Docker
Dockerfile~

screenplayreader/__pycache__/

.gitignore
importer/__pycache__/
importer/migrations/__pycache__/
importer/models/__pycache__/
screenplayreader/mixins/__pycache__/
db.sqlite3
